.gdbd-popup-diff {
	cursor: pointer;
}

.gdbd-diff-container {
	padding: 10px 10px 0 10px;
	border: 1px solid #DDD;
	border-radius: 4px;
	background: #FAFAFA;
	
	position: absolute;
	left: 30px;
	right: 30px;
	z-index: 6;
}

.gdbd-diff-frame {
	cursor: pointer;
}
